.slider text {
     font-size: 14px;
   }

#slider-simple text{
  font-size: 14px;
}

.tick text {
  font-size: 12px;
}


/* The switch - the box around the rslider */
.switch {
 position: relative;
 display: inline-block;
 width: 34px;
 height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The rslider */
.rslider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.rslider:before {
 position: absolute;
 content: "";
 height: 12px;
 width: 12px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .rslider {
 background-color: #2196F3;
}

input:focus + .rslider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .rslider:before {
 -webkit-transform: translateX(15px);
 -ms-transform: translateX(15px);
 transform: translateX(15px);
}

/* Rounded rsliders */
.rslider.round {
 border-radius: 34px;
}

.rslider.round:before {
 border-radius: 50%;
}
